@model RoyalTravel.ViewModels.Booking.MakeBookingViewModel
@{
    ViewData["Title"] = "BookHotel";
}
<head>
    <link href="~/css/TableSelectedHotel.css" rel="stylesheet">
</head>

<body>
    <div class="alert alert-warning text-center" role="alert">
        You are checking the availability for our <a asp-action="SelectHotel" asp-route-id="@Model.HotelId" class="alert-link">@Model.HotelName</a> arriving on
        <span class="font-weight-bold">@Model.CheckIn</span> and leaving on <span class="font-weight-bold">@Model.CheckOut</span> (@Model.NumberOfNights nights) for <span class="font-weight-bold">@Model.Adults Adult/s</span>
        and <span class="font-weight-bold">@Model.Children Kid/s</span>.
    </div>
    <div class="col-md-12">
        @if (Model.Rooms.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Room Type</th>
                        <th scope="col">Non-Smoking/Smoking</th>
                        <th scope="col">Max Occupancy</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @foreach (var room in Model.Rooms)
                {

                    <tbody>
                        <tr>
                            <td>@room.RoomType</td>
                            @if (room.Smoking)
                            {
                                <td>Smoking</td>
                            }
                            else
                            {
                                <td>Non-Smoking</td>
                            }
                            <td>@room.MaxOccupancy</td>
                            <td>
                                <a id="modal-892189" href="#modal-container-892189" role="button" class="btn" data-toggle="modal">
                                    <i class="fas fa-info-circle fa-2x" style="color:#6351ce"></i>
                                </a>
                                <div class="modal fade" id="modal-container-892189" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-center" id="myModalLabel">
                                                    Room Details
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @room.Description
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </td>
                            <td>@room.Price</td>
                            <td><input type="submit" class="btn btn-outline-warning"></td>
                        </tr>
                    </tbody>
                }
            </table>

        }
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
</body>





