@{
    ViewData["Title"] = "Hotels";
}

@model IEnumerable<RoyalTravel.ViewModels.Booking.BookingOutputViewModel>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <style>
        .parent {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="parent">
        <form method="get" asp-controller="Booking" asp-action="SearchHotels" asp-validation-summary="All">
            <div class="row">
                <div class="col">
                    <label for="searchInput">Destination</label>
                    <input class="form-control" type="text" id="searchInput" width="276" name="searchInput" placeholder="Enter Location" required />
                </div>
                <div class="col">
                    <label for="datepicker">Check in</label>
                    <input id="datepicker" width="220" name="checkIn" required/>
                </div>
                <div class="col">
                    <label for="datepicker2">Check out</label>
                    <input id="datepicker2" width="220" name="checkOut" required/>
                </div>
                <div class="col">
                    <label for="adults">Adults</label>
                    <select class="form-control" id="adults" width="276" name="adults" required>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>
                <div class="col">
                    <label for="kids">Children</label>
                    <select class="form-control" id="kids" width="276" name="children">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div style="margin-top:24px" class="row">
                <button type="submit" class="btn btn-primary btn-lg btn-block" asp-controller="Booking" asp-action="SearchHotels">Find Hotels</button>
            </div>
        </form>
    </div>

    @if (Model.Count() != 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr align="center">
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Wifi</th>
                    <th scope="col">Pool</th>
                    <th scope="col">Allow Pets</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hotel in Model)
                {
                    <tr align="center">

                        <td>@hotel.HotelName</td>
                        <td>@hotel.Address</td>
                        <td>@hotel.Rating/10</td>
                        <td>@hotel.Wifi</td>
                        <td>@hotel.Pool</td>
                        <td>@hotel.PetFriendly</td>
                        <td>
                            <form method="get">
                                <a type="submit" class="btn btn-success" asp-controller="Booking" asp-action="BookHotel"
                                   asp-route-id="@hotel.HotelId" 
                                   asp-route-checkIn="@ViewContext.HttpContext.Request.Query["checkIn"]"
                                   asp-route-checkOut="@ViewContext.HttpContext.Request.Query["checkOut"]"
                                   asp-route-adults="@ViewContext.HttpContext.Request.Query["adults"]"
                                   asp-route-children="@ViewContext.HttpContext.Request.Query["children"]">Check Rates</a>
                            </form>
                        </td>
                        <td>
                            <form method="get">
                                <a type="submit" class="btn btn-primary" asp-controller="Booking" asp-action="SelectHotel" asp-route-id="@hotel.HotelId">Details</a>
                            </form>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    }
   





    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
        $('#datepicker2').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
</body>
